pydantic>=2.0
pyyaml
tqdm
numpy
pandas
matplotlib
seaborn
networkx
tqdm
# build tools for PyVRP fork (required before --no-build-isolation)
poetry-core
meson
ninja
docblock
pyvrp @ git+https://github.com/ksenia274/PyVRP.git@main
kagglehub
alns
folium
shapely
osmnx
scikit-learn